body {
  font-family: 'Roboto';
  margin: 0;
}

p {
  margin: 8px;
}

.--width {
  width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.no-margin p {
  margin: 0;
}

.greyColor {
  color: #ccc;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.siriusHome_headerContainer {
  background-image: linear-gradient(to right, #000 4%, #133357 100%);
}

.siriusHome_headerBanner {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    padding: 7px;
}

.siriusHome_offerText1 {
  display: flex;
    font-size: 16px;
    color: #ffffff;
}

.siriusHome_offerText2 {
  display: flex;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.siriusHome_navBar {
    width: 100%;
    display: block;
}

.siriusHome_navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.siriusHome_navBar ul li {
  float: right;
}

.siriusHome_navBar ul li a {
  display: block;
    padding: 18px 18px 18px 40px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.siriusHome_navBar ul li a:hover {
opacity: 0.5;
}

.siriusHome_welcomeBanner {
  display: flex;
    padding: 40px 0px;
}

.siriusHome_planImgDeck {
  width: 50%;
  display: flex;
  justify-content: center;
}

.siriusHome_planImg {
  width: 66%;
}

.siriusHome_planText {
  width: 50%;
  padding-top: 5%;
}

.siriusHome_planText1 {
  font-weight: bold;
  font-size: 46px;
    padding: 20px 0px;
}

.siriusHome_planText2 {
  font-size: 24px;
  padding: 20px 0px;
}

.siriusHome_btn {
    border: 0;
    padding: 12px 22px;
    background-image: linear-gradient(to right, #000 4%, #133357 100%);
    color: #ffffff;
    letter-spacing: 0.06em;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.siriusHome_weather {
  padding: 20px 0px;
}

.siriusHome_weatherContainerDeck {
  display: flex;
}

.siriusHome_weatherContainerTitle {
  padding: 14px;
  color: #ffffff;
  background-color: #123052;
  font-size: 22px;
  font-weight: bold;
}

.siriusHome_weatherIcon::before {
  background-image: url(../asset/icon-party-sunny.svg);
  background-repeat: no-repeat;
  background-position: 0em 0em;
  background-size: 3em 3em;
    width: 3em;
    height: 3em;
  display: inline-block;
  content: "";
}

.siriusHome_weatherContainer {
  width: 25%;
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    cursor: pointer;
}

.siriusHome_weatherContainer0 {
    background-color: #0D7E88 ;
}

.siriusHome_weatherContainer1 {
    background-color: #D09378;
}

.siriusHome_weatherContainer2 {
    background-color: #405B5D;
}

.siriusHome_weatherContainer3 {
    background-color: #74A748;
}

.siriusHome_weatherContainer0:hover, .siriusHome_weatherContainer1:hover, .siriusHome_weatherContainer2:hover, .siriusHome_weatherContainer3:hover {
  opacity: 0.8;
  transition: opacity 300ms;
}

.siriusHome_weatherText {
font-size: 28px;
padding: 14px 0px;
}

.siriusHome_weatherCelcius {
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 66px;
    padding-bottom: 20px;
}

.siriusHome_destination {
  padding: 20px 0px 40px;
}

.siriusHome_destinationContainerDeck {
  display: flex;
    overflow-x: scroll;
}

.siriusHome_destinationText {
  font-family: 'Roboto Slab';
    font-size: 30px;
    color: #133357;
    font-weight: bold;
}

.siriusHome_destinationImageContainer {
  margin: 20px;
}

.siriusHome_thumbnailImage {
  border-radius: 10px 10px 10px 0px;
    width: 220px;
    height: 220px;
}

.siriusHome_destinationCountryName {
  padding-top: 8px;
  color: #ccc;
}

.siriusHome_imageDeck {
  position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px 30px;
}

.siriusHome_backgroundImage {
  background-image: url('../asset/promo-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 43.33%;
  background-position-x: 10%;
}

.siriusHome_imageContent {
  position: absolute;
  top: 60%;
  left: 7%;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.2em;
  
}

.siriusHome_imageContent1 {
  font-size: 60px;
}

.siriusHome_imageContent2 {
  font-size: 35px;
}

.siriusHome_quote {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  padding: 10px 0px 30px;
}

.siriusHome_quoteHeading {
  font-size: 30px;
  font-family: 'Roboto Slab';
  color: #133357;
  font-weight: bold;
  padding-bottom: 30px;
}

.siriusHome_form {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.siriusHome_quoteSubmitBtn {
  justify-content: center;
    display: flex;
}

.siriusHome_quoteSubmitBtn input[type=button] {
  border: 0;
    padding: 12px 32px;
    background-image: linear-gradient(to right, #000 4%, #133357 100%);
    color: #ffffff;
    letter-spacing: 0.06em;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.siriusHome_success {
    background-color: #d0f8cc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

form label {
  display: inline-block;
  width: 100px;
}

form div {
  margin-bottom: 10px;
}

.error {
  color: #ea1313;
  margin-left: 5px;
}

label.error {
  display: inline;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}



.siriusHome_footer {
    position: relative;
    height: auto;
    border: 0;
    padding: 12px 50px;
    background-image: linear-gradient(to right, #000 4%, #133357 100%);
}
.siriusHome_footerCol {
  width: 15%;
  height: auto;
  float: left;
  padding: 0px 20px 20px 20px;
}
.siriusHome_footerCol h1 {
  margin: 0;
  font-size: 18px;
  padding: 20px 0px 20px 0px;
  color: #ffffff;
  letter-spacing: 0.04em;
}
.siriusHome_footerCol ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.siriusHome_footerCol ul li {
  color: #ffffff;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    letter-spacing: 0.07em;
}

.siriusHome_footerDisclaimer {
  width: 35%;
}

.siriusHome_footerDisclaimer span {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.siriusHome_footerCol ul li:hover {
opacity: 0.8;
  transition: .1s;
}
.clearfix {
  clear: both;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@media screen and (max-width: 1279px) and (min-width: 320px) {

  .siriusHome_headerBanner {
    width: auto;
    padding: 7px;
    text-align: center;
  }

  .siriusHome_offerText1 {
    font-size: 18px;
  }

  .siriusHome_navBar {
    padding-top: 14px;
  }

  .siriusHome_navBar ul li a {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    letter-spacing: 0;
  }

  .siriusHome_welcomeBanner {
    display: block;
  }

  .siriusHome_planImgDeck {
    width: 100%;
  }

  .siriusHome_planText {
    width: auto;
    text-align: center;
    padding: 10px;
  }

  .siriusHome_weatherContainerTitle {
    text-align: center;
  }

  .siriusHome_weatherContainer {
    width: 50%;
    display: inline-block;
    text-align: center;
  }

  .siriusHome_weather {
    padding: 20px 10px;
    width: auto;
  }

  .siriusHome_weatherContainerDeck {
    display: block;
  }

  .siriusHome_destinationText {
    margin-left: 18px;
    font-size: 24px;
  }

  .siriusHome_imageContent {
    top: 42%;
    left: 5%;
  }

  .siriusHome_imageContent1 {
    font-size: 14px;
  }

  .siriusHome_imageContent2 {
    font-size: 8px;
  }

  .siriusHome_quoteHeading {
    font-size: 28px;
  }

  input[type=text], input[type=email] {
    margin: 7px 0;
  }

  .siriusHome_quote {
    padding: 10px;
    width: auto;
  }

  .siriusHome_footer {
    padding: 12px 16px;
  }

  .siriusHome_footerCol {
    width: 50%;
  }

  .siriusHome_footerDisclaimer {
    width: 90%;
  }

}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .siriusHome_navBar ul li a {
    font-size: 18px;
  }

.siriusHome_imageContent {
  top: 46%;
    left: 5%;
}

.siriusHome_imageContent1 {
  font-size: 32px;
}

.siriusHome_imageContent2 {
  font-size: 28px;
}


.siriusHome_footerCol {
  width: 50%;
  padding: 0px 15px 15px 15px;
}

.siriusHome_footerDisclaimer {
  width: 90%;
}

.siriusHome_footerCol h1 {
  font-size: 24px;
}

.siriusHome_footerCol ul li {
  font-size: 22px;
}

.siriusHome_footerDisclaimer span {
  font-size: 22px;
}
}